<!-- Clients Aside -->
<section id="team">
    <aside class="clients">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Partners</h3>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
                    <br/><br/><br/>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="{{ site.baseurl }}/img/logos/bcorplogo.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="{{ site.baseurl }}/img/logos/c_ccof_logo.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="{{ site.baseurl }}/img/logos/WWF Logo.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="{{ site.baseurl }}/img/logos/foodnetwork.jpg" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
</section>