
  <div class="wizard text-center">
     
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <img src="{{site.baseurl}}{{site.img_content}}{{page.id}}/1_step.png" class="img-responsive">
                      </div>
                      <!--div class="col-md-6">
                          <h2>Ordinary chefs competing to make the BEST FAST MEAL in 30 minutes</h2>
                      </div-->
                  </div>
                  <br>
                  
             
             <br><br>
                  <img src="{{site.baseurl}}{{site.img_content}}{{page.id}}/box.png" class="img-responsive">
                  <br><br>


               {% include apply.html %}
             
                 <br><br>
                  <h1 class="text-center">THANK YOU</h1>
                  <br><br>
                  
                  <img src="{{site.baseurl}}{{site.img_content}}{{page.id}}/comp.png" class="img-responsive">

                  <br><br>
                  <h1 class="text-center">visit our website</h1>
                    <a href="http://bit.do/foodtopia">
                    <span class="text-center" style="font-size:5vw;">http://bit.do/foodtopia</span>

                    <br/><br/><br/>

                    

                  </a>
                  <h1><i class="fa fa-heart"></i></h1>
                  <br><br>
             
                
              
          </div
