<section id="contact">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><span style="background:#000;padding:15px;">Join the Community</span></h2>
                    <br>
                    <h2 class="intro-lead-in" style="
                        color: #fff;
                        font-size: 20px;
                        text-transform: lowercase;
                        font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
                        font-style: italic;
                    ">
                    <span style="background:#000;padding:15px;">Enjoy FRESH FOOD NEWS</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            
                                <!--div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div-->
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <!--input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number."-->
                                    <p class="help-block text-danger"></p>
                                </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Signup Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>