<!-- Services Section -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>a platform for foodies</h2>
                    <!--h3 class="section-subheading text-muted">a platform for foodies</h3-->
                    <br><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span-->
                    <img src="{{site.baseurl}}{{site.img_site}}s_app.png" class="img-responsive">
                    <h3 class="service-heading">Foodtopia Social App</h3>
                    <br/><br/>
                    <a href="{{site.baseurl}}{{site.page_folder}}social" class="btn btn-primary btn-lg">join for free</a>
                    <!--br><br>
                    <p class="text-muted">Exclusive social network to connect Amateurs Chefs, Audience, Space Owners and Food Investors
                    </p-->
                </div>
                <div class="col-md-3">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span-->
                    <img src="{{site.baseurl}}{{site.img_site}}s_space.png" class="img-responsive">
                    <h3 class="service-heading">Customize your Event</h3>
                    <br/><br/>
                    <a href="{{site.baseurl}}{{site.page_folder}}space" class="btn btn-primary btn-lg">rent a space</a>
                    <!--br><br>
                    <p class="text-muted">Exclusive social network to connect Amateurs Chefs, Audience, Space Owners and Food Investors
                    </p-->
                </div>
                <div class="col-md-3">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span-->
                    <img src="{{site.baseurl}}{{site.img_site}}s_competition.png" class="img-responsive">
                    <h3 class="service-heading">Join the Competition</h3>
                    <br/><br/>
                    <a href="{{site.baseurl}}{{site.page_folder}}competition" class="btn btn-primary btn-lg">apply now</a>
                    <!--br><br>
                    <p class="text-muted">Exclusive social network to connect Amateurs Chefs, Audience, Space Owners and Food Investors
                    </p-->
                </div>
                <div class="col-md-3">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span-->
                    <img src="{{site.baseurl}}{{site.img_site}}s_meal.png" class="img-responsive">
                    <h3 class="service-heading">Join for a Meal + Event</h3>
                    <br/><br/>
                    <a href="{{site.baseurl}}{{site.page_folder}}restaurant" class="btn btn-primary btn-lg">reservation</a>
                    <!--br><br>
                    <p class="text-muted">Exclusive social network to connect Amateurs Chefs, Audience, Space Owners and Food Investors
                    </p-->
                </div>
            </div>
        </div>