<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index ">

    {% include header_pages.html %}
    <div class="bg-light-gray" style="padding-bottom:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <section class="page-section">
                        <!-- CONTENT -->
                        {{ content }}
                        
                        {% include services.html %}
                       
                    </section>  
                </div>
            </div>
        </div>
    </div>
        {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>